$grayColor:#4d4d4d;
$GrayColor:#4d4d4d;
$dGrayColor:#333;
$BGcolor:#7cbfb4;
$dBGcolor:#308375;
$lPcolor:#fed5d6;
$Pcolor:#F28587;
$dPcolor:#a72d30;

$DAheadH:44px;
$DAborderW:5px;
$SmallBox3Dsize:60px;
// $Box3Dsize:80px;
$MiddleBox3Dsize:80px;
$PigBox3Dsize:100px;
