$rouletteGameMobW:375;
$rouletteGameMobH:450;
$rouletteGameW:1440;
$rouletteGameH:830;
$rouletteAwardsW:295;
$rouletteAwardsItemMobH:40; 
$rouletteAwardsItemH:64;

$christmasBg_w:1070;
$christmasBg_h:572;
$rouletteGameNYmobH:490;
$rouletteGameXmasDeskH:985;

$purple:#6404f3;
$Dpurple:#4d00bf; // deepPurple
$pink:#f304ac;
$Dpink:#e81fa1; // darkPink
$yellow:#ffea00;
$DYellow:#ffcf00; // deepYellow
// CNY
$CNYbottomColor_1:#b82801;
$CNYtopColor_1:#ff7646;
$CNYbottomColor_2:#9c0101;
$CNYtopColor_2:#ff6262;
$CNYbottomColor_3:#7e0101;
$CNYtopColor_3:#d1260f;
$CNYtextFrame:#d49b5d;
$CNYdarkColor:#440100;
// xmas
$xmasBottomColor_1:#ff3c00;
$xmasTopColor_1:#ff7e00;
$xmasBottomColor_2:#9c0101;
$xmasTopColor_2:#ff6262;
$xmasBottomColor_3:#ff6600;
$xmasTopColor_3:#ffc600;
$xmasDarkColor:#132452; // #1a315c
// $xmasPopupColor:#ffba00;
$redSpecialColor:#ff0000;
    